.arrow {
  @include transition;
  position: relative;
  display: block;
  width: 37px;
  height: 35px;
  background-color: $base-additional;
  color: $base-white;
  border: 1px solid $color-transparent;
  cursor: pointer;
  outline: none;
  // transition: all $trans-default;

  // @include hover-focus {
  //   color: $color-resolution-blue;
  //   background-color: $color-default-white;
  //   border-color: $color-resolution-blue;
  // }

  // @include active {
  //   color: $color-default-white;
  //   background-color: $color-resolution-blue;
  // }

  // @include disabled {
  //   color: $color-default-white;
  //   background-color: rgba($color-navy-blue, 0.2);
  //   pointer-events: none;
  // }
}

.arrow__icon {
  position: absolute;
  margin: auto;
  inset: 0;
}
