// default
.button {
  @include disabled;

  padding: 10px;

  font-family: $montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  background-color: $base-additional;
  color: $base-white;
  transition: background-color $trans-default;


  &:hover {
    color: $base-additional;
    border: 1px solid $color-resolution-blue;
    background: $base-white;
  }

  &:focus-visible {
    color: $btn-links-conditions;
    border: none;
    outline: unset;
    background: transparent;
  }

  &:active {
    background-color: $btn-links-conditions;
    color: $base-white;
    border: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    background-color: $color-disabled;
  }
}
