.container {
  width: 320px;
  // width: 100%;
  // max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 120px;
  }
}
