.contacts {
  position: relative;
  padding-bottom: 14px;
  border-bottom: 1px solid $color-grey;

  @include vp-768 {
    padding-bottom: 34px;
  }

  @include vp-1440 {
    padding-bottom: 78px;
  }
}

.contacts__container {
  padding: 37px 15px 14px;

  @include vp-768 {
    padding: 60px 45px 24px;
  }

  @include vp-1440 {
    padding: 130px 120px 0;
  }
}

.contacts__title {
  position: relative;
  margin: 0 0 28px;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  text-align: left;

  &::before {
    content: attr(data-shadow);
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
    color: $color-whisper;
    opacity: 0.2;
    z-index: -1;

    @include vp-768 {
      top: -6px;
      left: -3px;
      font-size: 41px;
    }

    @include vp-1440 {
      font-size: 55px;
    }

    @include vp-768 {
      font-size: 25px;
      line-height: 25px;
      margin: 0 0 21px;

    }
  }

  @include vp-1440 {
    font-size: 35px;
    margin: 0 0 29px;
  }
}

.contacts__text {
  width: 130px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @include vp-768 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-1440 {
    font-size: 16px;
    width: auto;
  }

}

.contacts__text-message {
  width: 270px;
  margin: 0 0 30px;
  letter-spacing: -0.05px;

  @include vp-768 {
    width: 484px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 40px;

  }

  @include vp-1440 {}

}

.contacts__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  margin: 0 0 8px;

  @include vp-768 {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 5px;
  }

  @include vp-1440 {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px;

  }
}

.contacts__adress {
  width: 190px;
  letter-spacing: -0.18px;

  @include vp-768 {
    width: auto;
  }
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-768 {
    justify-content: flex-start;
    flex-direction: row;
    gap: 34px;
  }

  @include vp-1440 {
    width: 50%;
    flex-direction: column;
    gap: 26px;
  }
}

.contacts__item {
  min-height: 42px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 32px;

  @include vp-768 {}

  @include vp-1440 {
    margin: 9px 0 0 56px;
  }
}

.contacts__item svg {
  position: absolute;
  top: 0;
  left: -32px;

  @include vp-1440 {
    width: 26px;
    height: 26px;
    top: 13px;
    left: -55px;
  }
}

.contacts__map img {
  @include vp-768 {
    width: 768px;
  }

  @include vp-1440 {
    position: absolute;
    width: 600px;
    top: 149px;
    right: 120px;
  }
}
