.header {
  background-color: $base-additional;
}


.header__wrapper {
  @media (max-width: $mobile-width-only) {
    position: relative;
    width: 320px;
    padding: 15px 20px;
    min-height: 60px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 768px;
    min-height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;
  }
}

.header__logo-wrapper {
  grid-column: 2/3;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.header__burger-button {
  position: absolute;
  content: "";
  width: 26px;
  height: 20px;
  left: 20px;
  z-index: 2;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__burger-contents {
  display: block;
  width: 17px;
  height: 2px;
  background-color: $base-white;

  &::before {
    @include burger-contents;
    top: 7px;
  }

  &::after {
    @include burger-contents;
    top: -9px;

  }
}

.header__phone {
  display: flex;
  justify-content: flex-end;
}

.header__phone-link {
  color: $base-white;
}

// .header--closed .header__burger-button::before {
//   content: "";
//   position: absolute;
//   top: 6px;
//   right: 2px;
//   width: 16px;
//   height: 2px;
//   background-image: url("/source/img/sprite/burgermenu.svg");
//   background-color: $base-white;
//   box-shadow: 0 5px 0 0 $base-white, 0 10px 0 0 $base-white;
// }

// .header--closed .header__burger-button:active::before {
//   background-color: ($base-primery, 30%);
//   box-shadow:
//     0 8px 0 0 ($base-primery 30%),
//     0 16px 0 0 ($base-primery 30%);
// }

// burger menu
.header--closed .main-nav__wrapper {
  display: none;
}

.header--closed .site-list__link {
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}

.header--opened .main-nav__wrapper {
  @media (max-width: $tablet-width-only) {
    width: 100%;
    position: absolute;
    top: 93px;
    right: 0;
    z-index: 10;
    text-align: center;
    background-color: $base-white;
    transition: $trans-default;
  }
}

// .header--nojs .js-toggle-button {
//   display: none;
// }

// .header--nojs .main-nav__wrapper {
//   position: static;
//   min-height: 0;
// }

// @media (min-width: $desktop-width) {
//   .header--closed .main-nav__wrapper {
//     display: block;
//   }

//   .js-toggle-button {
//     display: none;
//   }

//   .header--nojs .main-nav__wrapper {
//     position: static;
//     min-height: 0;
//   }  @media (max-width: $tablet-width-only) {

// }

.header--opened .header__burger-button {
  background-color: transparent;
  display: block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 2px;
    background-color: $base-white;
    ;
  }

  &::before {
    transform: rotate(50grad);
  }

  &::after {
    transform: rotate(-50grad);
    box-shadow: none;
  }
}


.header--opened .header__burger-contents {
  display: none;
}
