.hero {
  position: relative;
  // min-width: 0;
  overflow: hidden;
}

.hero-bg-color {
  height: 568px;
  background: $bg-color-hero;

  @media (min-width: $tablet-width) {
    height: 1035px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    min-height: 1035px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
  }

}

// slider
.hero__slider {
  position: relative;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.hero__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__slider .swiper-pagination {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;

  @media (min-width: $desktop-width) {
    top: 688px;
    left: -120px;
    justify-content: flex-end;
  }
}

.hero__slider .swiper-pagination-bullet {
  @media (max-width: $mobile-width-only) {
    width: 16px;
    height: 16px;
  }

  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $base-white;

  @media (min-width: $desktop-width) {
    &:hover {
      outline: 1px solid rgb(128, 179, 224);
      outline-offset: 2px;
      border: 1px solid $base-white;
    }

    &:focus {
      outline-offset: -2px;
    }

    &:active {
      outline: unset;
      background-color: rgb(128, 179, 224);
      border: 1px solid $base-white;
    }
  }
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: $base-white;
}

.hero__image img {
  max-width: 100%;
  height: auto;
}

.hero__list {
  @include list-reset;
  margin: 0;
  display: flex;
}

.hero__item {
  width: 320px;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 15px 40px 15px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 149px 45px 90px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 200px 0px 80px 0px;
  }

  &--kam {
    position: relative;

    @media (min-width: $tablet-width) {
      padding: 137px 45px 90px 45px;
    }

    @media (min-width: $desktop-width) {
      padding: 200px 45px 90px 45px;
    }
  }
}

.hero__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 104px 0 20px;


  @media (min-width: $tablet-width) {
    width: 678px;
    margin-top: 193px;
  }

  @media (min-width: $desktop-width) {
    width: 1202px;
    margin: 0;
    align-items: flex-start;
  }

  &--kam {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.hero__content p {
  color: $base-white;
  font-family: $montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 474px;
    font-size: 17px;
    line-height: 24px;
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
  }
}

.hero__content--kam p {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.hero__content h2 {
  color: $base-white;
  font-family: $montserrat;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
    margin: 0 0 13px 0;
    // margin-bottom: 13px;
    // letter-spacing: -0.15px;

  }

  @media (min-width: $desktop-width) {
    // width: 820px;
    font-size: 77px;
    line-height: 77px;
    margin-bottom: 25px;
    text-align: left;
    margin: 0 1px 23px;
    letter-spacing: -0.2px;
  }
}

.hero__details {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 133px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
  }
}

.hero__details span {
  width: 157px;
  height: 44px;
  border: 1px solid $number-hover-blue;
  color: $base-white;
  font-family: $montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.hero__details .hero__details-level {
  width: 184px;
}

.hero__button {
  width: 180px;
  margin-top: 60px;
  min-height: 57px;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
  }
}

.hero__photo-cards {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &--lake {
    position: absolute;
    bottom: 210px;
    left: 163px;

    @media (min-width: $desktop-width) {
      top: 187px;
      left: 910px;
      z-index: 5;
    }
  }

  &--tourist {
    position: absolute;
    bottom: 195px;
    right: 163px;

    @media (min-width: $desktop-width) {
      top: 279px;
      right: 119px;
    }
  }
}

.hero__image-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
}
