.main-nav__list {
  color: white;
  position: relative;
  display: flex;
  padding: 15px 20px;
  /* top: 33px; */
  margin: 0 auto;
  list-style: none;
  background-color: #0266c1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
