.reviews {
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;

  >picture {
    display: none;
  }

  @include vp-1440 {
    >picture {
      position: absolute;
      display: block;
      bottom: -195px;
      left: 0;
    }
  }
}

.reviews__container {
  padding-top: 20px;
  padding-bottom: 68px;

  @include vp-768 {
    padding-top: 59px;
    padding-bottom: 27px;
  }

  @include vp-1440 {
    padding: 145px 0 42px 130px;

    // padding-top: 155px;
    // padding-bottom: 42px;
  }
}

.reviews__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px;

  @include vp-768 {
    margin: 0 0 -6px;
  }

  @include vp-1440 {
    // margin: 0 0 -7px;
  }
}

.reviews__header {
  position: relative;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;

  // margin: 0 0 59px;

  &::before {
    content: attr(data-shadow);
    position: absolute;
    bottom: 12px;
    left: 0;
    font-size: 26px;
    font-weight: 800;

    color: $color-whisper;
    opacity: 0.2;

    @include vp-768 {
      top: -4px;

      // bottom: auto;
      font-size: 26px;
      line-height: 26px;
    }

    @include vp-1440 {
      top: -25px;
      font-size: 55px;

      // line-height: 40px;
    }
  }

  @include vp-768 {
    margin: 0 0 42px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-1440 {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 44px -10px;
  }
}

.reviews__arrows {
  display: none;
  gap: 0 4px;
  margin: -13px 0 0;

  @include vp-768 {
    display: flex;
    margin: 0;
  }

  @include vp-1440 {
    margin: 0 120px 0 0;
  }
}

.reviews__slider {
  overflow: visible;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  max-width: 790px;
  padding: 20px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  background-color: $base-white;
  gap: 0 30px;

  @include vp-768 {
    flex-direction: row;
    max-width: 565px;
    padding: 20px;
    height: min-content;

    img {
      max-width: unset;
      height: auto;
    }
  }

  @include vp-1440 {
    max-width: 700px;
    padding-right: 30px;

    img {
      height: 253px;
    }
  }
}

.reviews__content {
  display: flex;
  flex-direction: column;
  padding: 14px 0 0;

  @include vp-768 {
    width: 300px;
    padding-top: 4px;
  }

  @include vp-1440 {
    width: 354px;
    padding: 0;
  }
}

// .reviews__body-text {
//   margin: 0 0 14px;

//   @include vp-768 {
//     margin: 0 0 16px;
//     font-size: 12px;
//     line-height: 18px;
//   }
// }

.reviews__text p {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 18px;

  @include vp-768 {
    min-width: 253px;
    margin: 0 0 10px;
  }

  @include vp-1440 {
    font-size: 14px;
    line-height: 22px;
  }
}

.reviews__content > p {
  margin: 6px 0 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;

  @include vp-768 {
    margin: 16px 0 0;
  }

  @include vp-1440 {
    margin: -10px 0 0;
  }
}

.reviews__content span {
  display: block;
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  @include vp-768 {
    margin: 0 0 8px;
    font-size: 13px;
  }

  @include vp-1440 {
    margin: 0 0 7px;
    font-size: 13px;
    line-height: normal;
  }
}

.reviews__arrow-icon {
  position: absolute;
  margin: auto;
  inset: 0;
}
