.site-list__item {
  z-index: 10;
  position: relative;
  text-align: start;

  @media (min-width: $desktop-width) {
    // background-color: $text-color;
  }
}

.site-list__link {
  display: inline-block;
  font-family: $montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 4px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    letter-spacing: unset;
    text-transform: unset;
  }

  &:focus-visible {
    outline-offset: -2px;
    outline: 1px solid $base-white;
  }

  &:active {
    color: $link-active-blue;
    outline: unset;
  }
}

.site-list__link::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 2px;
  height: 1px;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  transition: 0.25s;
  background-color: $base-white;
}

.site-list__link:hover::after {
  width: 100%;
}

.site-list__link:active::after {
  width: 0%;
  transition: width 0s ease-in-out;
}

.site-list__link--bg-index {
  @media (min-width: $desktop-width) {
    // color: $text-color;
  }
}
