//  reset default styles (ul)
@mixin list-reset {
  list-style: none;
  padding: 0;
}


@mixin burger-contents {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 26px;
  height: 2px;
  background-color: $base-white;
  cursor: pointer;
}

@mixin disabled {

  &:disabled,
  &.is-disabled {
    @content;
  }
}

