//  Fonts
$montserrat: "Montserrat", "Arial", sans-serif;

// Base colors
$base-primery: #2d383f;
$base-additional: #0266C1;
$base-white: #ffffff;
$base-black: #000000;

// Other colors
$color-elephant: rgb(101, 119, 146);
$color-resolution-blue: #1c3374;
$color-resolution-blue-10: rgba(28, 51, 116, 0.1);
$color-transparent: rgba(255, 255, 255, 0);
$color-torch-red: #ff121f;
$color-grey: #2d383f4d;
$color-whisper: #e8e8e8;
$color-bg-ok: #ff9800;
$color-bg-reddit: #ff5722;

// Conditions
$link-disabled-blue: rgb(153, 153, 153);
$link-active-blue: rgb(28, 51, 116);
$number-hover-blue: rgba(255, 255, 255, 0.50);
$btn-links-conditions: rgb(28, 51, 116);


// overlay colors
$bg-color-hero: linear-gradient(175deg, rgb(121 154 188) 49%, rgb(109 80 35) 121%);
;
$color-overlay-slider-hero: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 13%, rgba(15, 20, 41, 0) 96%);
// background: linear-gradient(142.94deg, rgba(15, 20, 41, 0.33) 11.202%,rgba(15, 20, 41, 0) 100.522%),url(image);
// background: linear-gradient(142.94deg, rgba(15, 20, 41, 0.33) 12.38%,rgba(15, 20, 41, 0) 99.428%),url(image);
// background: linear-gradient(142.94deg, rgba(15, 20, 41, 0.33) 17.225%,rgba(15, 20, 41, 0) 94.93%),url(image);
$color-overlay-slider-card: linear-gradient(0.00deg, rgba(0, 0, 0, 0.6) 22%, rgba(0, 0, 0, 0) 60%);

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$border-width: 2px solid;

// Width-Viewports

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
$tablet-width: 768px;
$desktop-width: 1440px;

$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1439: 1439px;
$vp-1440: 1440px;
